@import "variables";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

html {
    height: 100%;
}

body {
    /*background: #EFEFF2;*/
    // background: #ecf0f1;
    font-size: 1.5rem;
    height: 100%;
    display:flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6
{
    font-weight:500;
    line-height: 1.3;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.text-left
{
    text-align: left;
}

.navbar-inverse
{ 
    .navbar-brand 
    {
        color: #fff;
        
        &:hover
        {
            color: rgba(255, 255, 255, .8);
        }
    }
    
    .navbar-nav > li > a 
    {
        color: #fff;
        
        &:hover
        {
            color: rgba(255, 255, 255, .8);
        }
    }
}

.well
{
    border: 1px solid #ddd;
}

.form-footer
{
    padding: 2rem 0 0 0;
    text-align: right;
}

.error
{
    color: #e74c3c;
    margin: 0;
}

main#container //Main page container
{
    margin-top: 64px; /* Navbar height */
    
    section
    {
        &.page-main
        {
            padding:0 $containerPadding;
        }
        
        h1.page-title
        {
            border-bottom: 1px solid #ddd;
            margin: 0 0 5rem 0;
            padding: 2rem 0;
            font-size: 4rem;
        }
    }
}

footer#footer
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:center; 
    
    
    > div
    {
        border-top: 1px solid #bbb;
        padding: 3rem $containerPadding;
        background: #313138;
        color: #ddd;
        
        a
        {
            color: #ddd;
            text-decoration: none;
            border-bottom: 1px dotted #ddd;
            
            &:hover
            {
                border-bottom-style: solid;
            }
        }
        
        p
        {
            &:last-child
            {
                margin:0;
            }
        }
    }
}