maxContainerWidth = 1170px
containerPadding = 1.5rem
navMaxWidth = 991px
navMinWidth = 992px

//Responsive breakers
smMinWidth = 35.5em;
mdMinWidth = 48em;
lgMinWidth = 64em;
xlMinWidth = 80em;