# Override GitHub's automatic language detection.

gulpfile.js linguist-vendored
gulp/ linguist-vendored
gulp/* linguist-vendored
gulp/*.js linguist-vendored
bin/ linguist-vendored
css linguist-vendored
css/ linguist-vendored
css/* linguist-vendored
